<div class="container mt-5">
  <div class="cards">
    <div class="row mt-5">
      <div class="card-1 border" style="width: 15rem">
        <%=image_tag "card-1.jpeg", class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Work space</h5>
            <p class="card-text">Location, Wifi, amenities</p>
            <a href="#" class="btn btn-primary">Book a work space</a>
          </div>
        </div>
    </div>
  </div>
</div>
