<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Embrace the freedom of working remotely while enjoying a memorable vacation with <i class="fas fa-heart"></i> HiveStay.
  </div>
</div>
