<%# <nav class="navbar sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Harmony Hub 💻</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>


      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> %>

<%# <div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
  </div>
</div> %>
<div class="cards-category">
 <div class="card-category" style="">
    Birmingham
  </div>

  <div class="card-category" style="">
    London
  </div>

  <div class="card-category" style="">
    leamington
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <p>Give us follow!</p>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Harmony Hub £ GBP
  </div>
</div>
