#booking-card {
  width: 700px;
  height: 190px;
}

#booking-image {
  height: 100%;
}

.index-bookings .card-body{
  padding: 5px;
  text-align: start;
  font-family: 'Nunito';
  margin: 6px;
}

.index-bookings .card-title{
  color: #0E5E6F;
  font-weight: bold;
}

.index-bookings .card-text{
  color: #495579;
  font-weight: bold;
  margin-bottom: 0;
}

.index-bookings .btn-gradient {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(#213555, #5180cb);
  transition: background 0.3s ease;
  border: 1px solid #8db4f2;
}

.index-bookings .btn-gradient:hover {
  background: linear-gradient(#213555, #5180cb);
  color: white;
}
