.index-bookings h1 {
  color: #1d2f4c;
  font-family: 'Nunito';
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  text-align: center;
}

#booking-card {
  max-width: 80%;
}

#booking-image {
  height: 100%;
}

.index-bookings .card-body{
  padding: 5px;
  text-align: start;
  font-family: 'Nunito';
  margin: 6px;
}

.index-bookings .card-title{
  color: #0E5E6F;
  font-weight: bold;
}

.index-bookings .card-text{
  color: #495579;
  font-weight: bold;
  margin-bottom: 0;
}

.index-bookings .btn-gradient {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(45deg, #f11f1f, #ec5156);
  transition: background 0.3s ease;
  border: 1px solid #eb4747;
}

.index-bookings .btn-gradient:hover {
  background: linear-gradient(45deg, #f11f1f, #ec5156);
  color: white;
}
