.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: solid 2px orange;
  border-radius: 10%;
  color: rgb(38, 55, 119);
}
