.new-booking {
  background-color: rgb(241, 237, 232);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.booking-form label {
  color: #1d2f4c;
  font-family: 'Nunito';
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;

}

.booking-form input {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.booking-form select {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.booking-form .new-booking-submit {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(45deg,#213555, #2a569c);
  transition: background 0.3s ease;
  border: 1px solid #8db4f2;
}

.booking-form .new-booking-submit:hover {
  background: linear-gradient(45deg,#213555, #2a569c);;
  color: white;
}
